#settings_section-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #24232b;
  box-sizing: border-box;
  margin: 1rem auto auto auto;
  padding: 0 0 0 1.5rem;
  width: 30rem;

}

.settings_text {
  color: #e2dfdf;
  font-size: 0.8rem;
  font-weight: 400;
}

#settings_character-length-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.settings_character-length-header-subsection {
  display: flex;
  align-items: center;
}

#settings_character-length-text {
  display: block;
}

#settings_character-length-value {
  display: block;
  color: #a4ffaf;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 1.45rem;
}

#settings_slider-box {
  margin: 0.5rem 1.45rem 1rem 0;
}

#settings_slider {
  appearance: none;
  background: #131218;
  border: none;
  outline: none;
  width: 100%;
  height: 0.4rem;
}

#settings_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e2dfdf;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
}

/* Checkbox Section */

#settings_checkbox-section {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.settings_checkbox-section-row {
  position: relative;
}

.settings_checkbox-section-row label {
  padding-left: 2rem;
}

/* Hide default checkbox */
.settings_checkbox {
  display: none;
  width: 0;
  height: 0;
}

.settings_checkbox-section-row span {
  position: absolute;
  left: 0;
  top: 0.05rem;
  width: 0.8rem;
  height: 0.8rem;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #e2dfdf;
  border-radius: 0.1rem;
}

.settings_checkbox:checked + span {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}

/* Create the checkmark (hidden when not checked) */
.settings_checkbox-section-row span:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.225rem;
  top: 0.015rem;
  border-color: #131218;
  border-style: solid;
  border-width: 0 0.15rem 0.15rem 0;
  width: 0.2rem;
  height: 0.5rem;
  transform: rotate(45deg);
}

/* Show checkmark when checked */
.settings_checkbox:checked + span:after {
  display: block;
}

.settings_checkbox-section-row label:hover span {
  border-color: #a4ffaf;
}

/* Common Expression checkbox additional styles - when checkbox disabled*/

.settings_checkbox-section-row label:has(#regular-expressions-option:disabled) {
  opacity: 30%;
}

#regular-expressions-option:disabled + span {
  border-color: #e2dfdf;
}


/* Strength Box */

#settings_strength-section {
  display: flex;
  justify-content: space-between;
  background-color: #131218;
  margin: 1.325rem 1.45rem 0rem 0;
  height: 3.325rem;
  align-items: center;
}

#settings_strength-section > .settings_text {
  color: rgb(129, 126, 126);
  font-weight: 700;
  padding: 0 0 0 1.6rem;

}

#settings_strength-section > .settings_text + div {
  display: flex;
  padding: 0 1.25rem 0 0;
}

#settings_strength-label {
  padding: 0  0.325rem 0 0;

}

.settings_strength-bar {
  display: block;
  width: 0.25rem;
  height: 1.2rem;
  border-style: solid;
  border-color: #e2dfdf;
  border-width: 0.125rem;
  border-radius: 0.06rem;
  background-color: none;
  margin: 0 0 0 0.3rem;
}

/* Button */
#action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  margin: 1.325rem 1.45rem 1.325rem 0;
  height: 3.5rem;
}

.action_button_enabled {
  background-color: #a4ffaf;
  cursor: pointer;
}

.action_button_enabled:hover {
  background-color: #94e99e;
}

.action_button_enabled:active {
  background-color: #a4ffaf;
}

/* Inactive State of Button */
.action_button_disabled {
  background-color: #a4ffaf;
  opacity: 30%;

}

#action_text {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

#action_button-icon {
  width: 16px;
}
